body {
  background-color: rgb(216, 216, 216);
  margin: 0;
  padding: 0;
}
* {
  outline: none;
  border: none;
}
button{
  cursor: pointer;
}
h1 {
  text-align: center;
  color: rgb(54, 54, 54);
}
.main {
  padding-bottom: 40px;
  width: 500px;
  margin: 100px auto;
  border: 2px solid rgb(179, 179, 179);
  background-color: white;
}
.main .container {
  width: max-content;
  margin: 0 auto;
}
.main .container .input {
  width: 350px;
  height: 20px;
  font-size: 1.1rem;
  border: 1px solid rgb(130, 130, 130);
  padding: 5px;
  border-radius: 5px;
}
.main .container .save-btn{
  width: 70px;
  height: 35px;
  margin-left: 10px;
  border-radius: 15px;
  background-color: aqua;
  color: white;
}
.todos{
  margin-top: 40px;
}
.todo-border{
  margin: 10px 0;
  width: max-content;
  margin: 0 auto;
  display: flex; 
  align-items: center;
}
.todo-border .todo-text{
  width: 300px;
  font-size: 1.1rem;
}
.todo-border .save-todo{
  width: 70px;
  height: 35px;
  margin-left: 10px;
  border-radius: 15px;
  background-color: aqua;
  color: white;
}
.todo-border .save-todo.hidden{
  visibility: hidden;
}
.todo-border .delete-todo{
  width: 70px;
  height: 35px;
  margin-left: 10px;
  border-radius: 15px;
  background-color: rgb(184, 25, 25);
  color: white;
}
